/* Barra de navegacion */
.navbar{
	padding: 1rem;
	background-color: #F0F3F4;
	border-bottom: 1px solid #1b1b32;
}

.navbar-collapse{
	align-items: center;
	justify-content: space-between;
}

.navbar-nav a:hover{
	color: black;
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: underline;
}

/* Diseño general */
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1{
	font-size: 2.5rem;
	font-family: "Rubik Dirt", system-ui;
}

.seccion-oscura{
	color: white;
	background-color: #1b1b32;
}

.seccion-clara{
	color: black;
	background-color: white;
}

.seccion-titulo{
	font-size: 2rem;
	padding: 15px 0;
	font-family: 'Rubik dirt', cursive;
}

.seccion-descripcion{
	font-size: 1.2rem;
	color: #584e4e;
}

.seccion-texto{
	font-size: 1.2rem;
}

.btn-info{
	font-size: 1.1rem;
	margin: 20px;
	font-weight: bold;

}

.texto-negro{
	color: black;
}

.texto-blanco{
	color: white;
}

/* Seccion Sobre mi */
.section1{
	background-color: #F0F3F4;
	min-height: 450px;
	text-align: center;
}
.section-principal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}
.logo-empresa{
	width: 200px;
	height: 200px;
	border-radius: 40%;
	margin: 20px;
}
.section-principal h2{
	font-size: 1.5rem;
	color: #615151;
}

/* Quienes-somos */

.quienes-somos{
	height: 500px;
	padding: 10px;
}

.quienes-somos .contenedor{
	max-width: 600px;
	text-align: center;
}

/* Trayectoria */
.trayectoria{
	padding: 40px 40px 60px 40px;
}

.trayectoria-titulo{
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
}

.trayectoria i{
	font-size: 2rem;
	color: white;
	background-color: #1b1b32;
	padding: 8px 19px;
	border-radius: 50%;
}

.badges-contenedor{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
}

.trayectoria .columna{
	padding: 20px;
	border: 2px solid #8080804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.2s ease-in;
}

.trayectoria .columna:hover{
	color: white;
	background-color: #1b1b32;
}

/* los mas vendidos */
.mas-vendidos{
	padding: 40px;
}

.mas-vendidos img{
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	display: block;
	transition: all 0.2s ease;
}

.ventas-contenedor{
	padding-top: 60px;
	margin-bottom: 40px;
}

.overlay{
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.overlay a{
	color: #6a6a6a;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	text-decoration: none;
}

/*.overlay p{
	color: #6a6a6a;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}*/

.ventas{
	position: relative;
}

.ventas:hover img{
	opacity: 0.2;
}

.ventas:hover .overlay{
	opacity: 1;
}

.overlay .iconos-contenedor{
	display: flex;
}

.overlay i{
	color: black;
	font-size: 60px;
	margin: 10px;
}

/* Testimonios */
.testimonios{
	padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
	max-width: 800px;
}

.carousel-item{
	height: 500px;
}

.carousel-item .container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.testimonio-imagen{
	height: 150px;
	width: 150px;
	margin: 10px 10px 20px 10px;
}

.testimonio-texto{
	max-width: 70%;
	font-size: 20px;
	text-align: center;
	font-family: "Share Tech Mono", monospace;;
}

.testimonio-info{
	font-weight: bold;
	text-align: center;
}

.testimonio-info p{
	margin-bottom: 0;
}

.testimonio-footer .cliente{
	font-size: 1.2rem;
}

.testimonio-info .cargo{
	font-size: 0.9rem;
	color: #656060;
}

/* Contacto */
.contacto .container{
	max-width: 1100px;
	min-height: 200px;
	padding: 20px;
}

.contacto .rectangulo{
	margin-top: -3rem;
	background-color: rgb(13,110,253);
	border-radius: 10px;
	box-shadow: 0px 1px 4px 1px white; 
}

.contacto .row{
	width:  100%;
	display: flex;
	align-items: center;
}

.contacto .descripcion{
	color: white;
	font-size: 1.2rem;
}

.contacto button{
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: 2px solid white;
	padding: 1.25em 2em;
	margin: 10px;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
}

.contacto button:hover{
	background-color: white;
	color: black;
}

.contacto button i{
	color: white;
	font-size: 1.3rem;
	transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
	color: black;
}

/* Footer */
footer{
	min-height: 300px;
}

.footer-rs{
	font-size: 1.5rem;
	padding: 20px;
	margin-bottom: 30px;
}

.footer-rs p{
	font-family: "Calistoga", serif;
}

.iconos-rs a{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin: 10px;
	border: 2px solid white;
	border-radius: 50%;
	transition: all 0.2s ease-in;
}

.iconos-rs i{
	color: white;
	font-size: all 0.2s ease-in;
}

.iconos-rs a:hover{
	background-color: white;
	border: 2px solid rgb(13,110,253);
}

.iconos-rs a:hover i{
	color: black;	
}

.derechos-de-autor{
	font-size: 15px;
	color:#aeaeae;
	padding: 20px;
}

/* Adaptab le (responsive) */

@media screen and (max-width: 400px){
	.overlay a{
		font-size: 10px;
	}
}

@media screen and (max-width: 767px){
	.navbar-brand{
		display: none;
	}
}

@media and (min-width: 700px){
	.section-inferior-imagen{
		max-width: 600px;
	}
}

@media screen and (max-width: 800px){
	.testimonio-imagen{
		height: 120px;
		width: 120px;
	}

	.testimonio-texto{
		font-size: 18px;
	}
}